<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >

        <title>{% block title %}App{% endblock %}</title>

        <!-- HTMX -->
        <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js"
            integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F"
            crossorigin="anonymous"
            defer
        >
        </script>

        <!-- Tailwind -->
        <script
            src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
            defer
        ></script>

        {% block head %}{% endblock %}
    </head>

    <body class="min-h-screen bg-white text-gray-900 antialiased">

        {% block content %}{% endblock %}

        {% block scripts %}{% endblock %}

    </body>

</html>